
body {
    background-image: url("../img/bg.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  .banner {
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    
  }
  
  .banner-title {
    position: absolute;
    top: 45%;
    left:20%;
    font-size: 5em;
    font-weight: bold;
    color: rgba(255,255,255,.9)
  }
  .banner-subtitle {
    position: absolute;
    text-transform: uppercase;
    top: 60%;
    left: 35%;
    font-size: 2.5em;
    color: rgba(255,255,255,.7)
  }
  
  .skills {
    background-color: rgba(0,0,0,.5);
    padding: 5em 0;
    text-align: center;
  }
  
  h2 {
    font-family: "Trebuchet MS1", "Trebuchet MS", sans-serif;
    font-weight: bold;
    border-bottom: 3px solid rgba(255,255,255,.9);
    color: rgba(255,255,255,.9);
    padding-bottom: 40px;
    margin: 0 auto;
    width: 300px;
  }

  .skills h6 {
    border-bottom: 3px solid rgba(255,255,255,.9);
    color: rgba(255,255,255,.9);
    margin: 0 auto;
    width: 100px;
  }
  
  .icon-container {
    padding: 0 3em;
    margin: 2em 0;
  }
  
  .devicon-git-plain {
    max-width: 12em;
    margin: 1em 1em;
  }
  .devicon-git-plain:hover {
    position: relative;
    -ms-transform: translate(0, -2em); /* IE 9 */
    -webkit-transform: translate(0, -2em); /* Safari */
    transform: translate(0, -2em);
    transition-duration: .2s;
  }
  .devicon-git-plain path {
    fill: rgba(255,255,255,.9);
  }
  .devicon-git-plain path:hover {
    fill: rgba(255,255,255,1);
    position: relative;
    top: -2em;
  }
  
  .projects {
    text-align: center;
  }

  .projects img {
    margin-bottom: 1.5em;
  }

  .projects p {
    font-size: 1.25em;
    padding: 0 1em;
  }
  
  .projects, [class*='col-md-'] {
    float: none;
    margin: 3em auto;
    padding: 0px;
  } 

  
  .projects, .panel-body  {
    padding-left: 15px;
    padding-right: 15px;
  } 

  /* .panel, .col-md-8 {
    padding: 0;
  } */

  .panel {
    background-color: transparent;
    border: none;
    box-shadow: 5px 10px 5px rgba(50,50,50,.55);
    transition: ease .3s;
  }

  .panel:hover{
    transform: scale(1.05,1.05);
    transition: ease .3s;
  }

  .panel-heading {
    background-color: rgba(83,63,54,.9) !important;
  }

  .panel-title {
    color: white;
    font-weight: bold;
  }

  .panel-body {
    background-color: rgba(235,235,235,.95);
  }

  .construction {
    background-color: rgba(255,255,255,.05);
    width: 100%;
    text-align: center;
    padding: 10em 0;
  }
  
  .construction span {
    color: rgba(255,255,255,.9);
    font-family: "arial", sans-serif;
    font-weight: bold;
    font-size: 6vh;
  
  }
  
  .devicon-git-plain-footer {
    max-width: 5em;
    margin: 0em 1em;
    vertical-align: middle;

  }

  .devicon-git-plain-footer path {
    fill: rgba(255,255,255,0.9);
  }


  button.repo {
    border-style: solid;
    border-color: white;
    background-color: rgba(255,255,255,0.1);
    border-radius: 1em;
    width: 400px;
    padding: 10px;
  }

  repo, button:hover {
    background-color: rgba(255,255,255,.3);
  }

  a.repo-link{
    text-decoration: none;
  }

  span.repo-link {
    /*font-family: "Arial Narrow", Helvetica, sans-serif;*/
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 3em;
    vertical-align: middle;
    color: rgba(255,255,255,0.9);

  }

  .repo-link:hover {
    color: white;
  }

  .repo-link, a:hover {
    color: rgba(255,255,255,1);
  }

  footer {
    background-color: rgba(0,0,0,.7);
    text-align: center;
    font-size: 1em;
    color: rgba(255,255,255,.9);
    padding: 10px 0;
  }


